{% extends 'base.html' %}
{% block content %}


{% if cuotas %}
<h1>Cuotas</h1>
<div class="card-body">
    <table class="table table table-striped">
        <thead>
            <tr>
                <th scope="col">Nro. cuota</th>
                <th scope="col">Fecha Vencimiento</th>
                <th style="text-align: right;" scope="col">Monto Cuota</th>
                <th style="text-align: right;" scope="col">Saldo Cuota</th>
            </tr>
        </thead>
        <tbody>
            {% for cuota in cuotas %}
            <tr>
                <td>{{ cuota.nro_cuota }}</td>
                <td>{{ cuota.fecha_vencimiento|date:"d/m/Y" }}</td>
                <td style="text-align: right;">{{ cuota.monto_cuota|intcomma }}</td>
                <td style="text-align: right;">{{ cuota.saldo_cuota|intcomma }}</td>
                <td>{% if cuota.saldo_cuota > 0 %}
                    <a href="{% url 'pagos:pagar_cuota_por_id' cuota.id %}">
                        <span class="material-icons md-dark green">paid</span>
                    </a>
                    {% else %}
                        <span class="material-icons md-dark green">paid</span>
                    {% endif %}

                </td>
                <td><a href="{% url 'prestamos:generar_pagare' cuota.id %}">
                        <span class="material-icons">
                            request_quote
                        </span>
                    </a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% else %}
<p>No se ha encontrado ninguna información.</p>
{% endif %}
<a href="{% url 'prestamos:listar_prestamos' %}" class="btn btn-outline-secondary">Volver</a>
{% endblock %}