{% extends "layouts/base.html" %}


{% block content %}

<div class="container">
    <div class="card text-bg-primary mb-3 card-header text-center">
        Lista de Personas
    </div>
    <div class="card-body">
        <table class="table-primary table table-striped">
            <thead>
                <tr>
                    <th scope="col"> ID</th>
                    <th scope="col"> Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Razón Social</th>
                    <th scope="col">Sexo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{ persona.id }}</td>
                    <td>{{ persona.nombre }}</td>
                    <td>{{ persona.apellido }}</td>
                    <td>{{ persona.tipo_persona }}</td>
                    <td>{{ persona.razon_social }}</td>
                    <td>{{ persona.sexo }}</td>
                    <td>
                        <span class="material-symbols-outlined">
                            <a href="{% url 'persona:personas' %}">edit</a>
                        </span>
                    </td>
                    <td>
                        <span class="material-symbols-outlined">
                            <a href="{% url 'persona:borrar' persona.id %}">delete</a>
                        </span>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-outline-primary  me-md-2"><a
                href="{% url 'persona:nuevo' %}">Nuevo</a></button>
    </div>
</div>

{% endblock content %}