{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
    <h1>Nuevo pago</h1>
    <br/>
    <form method="POST" action="{% url 'pagos:pagar_cuota_por_id' cuota.id %}">
        {% csrf_token %}
        
        {{form.as_p}}
        <br/>
        
        <a href="{% url 'prestamos:listar_cuotas_por_id' cuota.prestamo_id %}" class="btn btn-outline-secondary">Volver</a>
        <button type="submit" class="btn btn-outline-success">Pagar</button>
    </form>

</div>

{% endblock %}